* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.navbar {
  font-size: 18px;
  background-color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.main-nav {
  list-style-type: none;
  display: none;
}
.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.main-nav li {
  text-align: center;
  margin: 15px auto;
}
.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}
.navbar-toggle {
  position: absolute;
  top: 32px;
  right: 20px;
  cursor: pointer;
  color: #d93175;
  font-size: 32px;
  flex-wrap: wrap;
  margin-top: 11px;
}
.active {
  display: block;
}
@media (min-width: 922px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 80px;
    align-items: center;
  }
  .main-nav {
    width: 100%;
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: space-around;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
  }
  .logo {
    margin-top: 0 auto;
  }
  .navbar-toggle {
    display: none;
  }
  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}
@media (max-width: 381px) {
  .main-nav > li > a > i {
    display: none;
  }
  .nav-bar {
    height: 100px;
  }
}
