* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body_product {
    font-family: "Roboto", sans-serif;
}

.black {
    color: Black;
}

.white {
    color: White;
}

.green {
    color: rgb(70, 140, 70);
}
/*
.border_aux {
    border: 1px solid Black;
}
*/
#main_product {
    width: 100%;
    height: auto;
    padding: 5%;
}

#section_product_01,
#section_product_02,
#section_product_03 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

#section_product_01 {
    background-color: White;
}

#section_others {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.box_imagen {
    width: 100%;
    height: auto;
    position: relative;
}

.box_details,
.box_details_02 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: White;
}

.img_product {
    display: block;
    width: 100%;
}

.album {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* ============================================================= * /
    align-items: center;
}

.circle_album {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: White;
    color: White;
}

.box_individual,
.box_comments {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px; /* =============================================================================== */
}

.box_cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.box_star {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; /* =================================================================== */
    align-items: center;
    padding: 10px;
}

.box_p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; /* ===================================================================== */
    align-items: center;
    padding: 5px;
}

.div_product {
    width: auto;
    height: auto;
}

.h1_product {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    height: auto; /* =============================================================================== */
    color: Black;
}

.h2_title {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 0;
}

.fa-star,
.fa-star-half {
    color: rgb(200, 170, 80);
    font-size: 20px;
}

.cards {
    display: block;
    width: 10%;
    max-width: 50px;
    margin: 0px 10px;
}

.fa-angle-double-left,
.fa-angle-double-right {
    color: Black;
    font-size: 20px;
}

.form_product {
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity {
    display: block;
    width: 40px;
    height: 20px;
    line-height: 20px;
}

.ul_product {
    width: 100%;
    height: auto;
}

.item_product {
    display: block;
    font-size: 15px;
    font-weight: 400;
    margin: 5px;
}

.p_product {
    font-size: 15px;
    font-weight: 400;
    margin: 10px;
}

.p_productD {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    margin: 5px 0px;
    text-align: left;
    border-bottom: 1px solid Grey;
}

.p_user {
    font-size: 20px;
    font-weight: 400;
    margin: 50px 10px 10px 10px;
}

.p_others {
    font-size: 12px;
    font-weight: 400;
    margin: 10px;
}

.basket,
.buy {
    background-color: #d93175;
    color: white;
    border: 1px solid White;
    border-radius: 10px;
    font-size: 15px;
    width: 150px;
    height: 50px;
}

.basket:hover,
.buy:hover {
    background-color: #440a20;
}

.a_product {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    color: White;
}

.box_user {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 30px 10px;
    border-radius: 5px;
    background-color: Grey;
}

.box_circle {
    display: block;
    position: absolute;
    top: -30px;
    left: 100px;
    width: 60px;
}

.box_others {
    display: inline-block;
    width: 40%;
    margin: 5px;
    background-color: White;
    box-shadow: none;
}

.box_others:hover {
    transition: box-shadow 1000ms;
    box-shadow: 0px 0px 10px #3c3b3b;
}

.box_others:hover .display_none {
    display: block;
}

.display_none,
.none_01,
.none_02 {
    display: none;
}

.final {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

@media all and (max-width: 359px) {
    body {
        display: none;
    }
}

@media all and (min-width: 360px) and (max-width: 770px) {
}

@media all and (min-width: 771px) and (max-width: 1200px) {
    #section_product_01 {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    #section_product_03 {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    .box_user {
        width: 50%;
        height: 340px;
    }

    .none_01 {
        display: inline-block;
    }

    .box_imagen,
    .box_details {
        width: 50%;
    }
}

@media all and (min-width: 1201px) {
    #section_product_01 {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    #section_product_03 {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    .box_user {
        width: 50%;
        height: 300px;
    }

    .none_01,
    .none_02 {
        display: inline-block;
    }
}
