* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Colours */
.bg-blanco {
  background-color: white;
}
.bg-gris-oscuro {
  background-color: rgba(238, 238, 238, 1);
}
.bg-gris-claro {
  background-color: #eeeeee;
}
.color-rojo-logo {
  background-color: #f43834;
}
.color-celeste-logo {
  background-color: #5cbeff;
}
.bg-amarillo {
  background-color: #eac926;
}
/* Font */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.font-s6 {
  font-size: 6px;
}
.font-s8 {
  font-size: 8px;
}
.font-s10 {
  font-size: 10px;
}
.font-s12 {
  font-size: 12px;
}
.font-s14 {
  font-size: 14px;
}
/* Text */
.text-center {
  text-align: center;
}
.line-through {
  text-decoration: line-through;
}
/* Width */
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-35 {
  width: 35%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-75 {
  width: 75%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}
/* Border */
.b-1 {
  border: solid 1px rgb(212, 212, 212);
}
.bt-2 {
  border-top: solid 2px rgba(234, 234, 234, 0.703);
}
.bl-2 {
  border-left: solid 2px rgba(234, 234, 234, 0.703);
}
.br-5 {
  border-radius: 5px;
}
/* PADDING */
.p-8 {
  padding: 8px;
}
.p-12 {
  padding: 12px;
}
.p-30 {
  padding-top: 30px;
}
.pb-30 {
  padding-bottom: 30px;
}
/* MARGIN */
.m-center {
  margin: auto;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-2 {
  margin-bottom: 2px;
}
.mb-3 {
  margin-bottom: 3px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-0 {
  margin-top: 0px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-10 {
  margin-top: 10px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-22 {
  margin-left: 22px;
}
.ms-5 {
  margin-right: 5px;
  margin-left: 5px;
}
.ms-10 {
  margin-right: 10px;
  margin-left: 10px;
}
.m-5 {
  margin: 5px;
}
.m-10 {
  margin: 10px;
}
.m-30 {
  margin: 30px;
}
/* FLEX */
.fx {
  display: flex;
}
.fx-wrap {
  flex-wrap: wrap;
}
.fx-align-center {
  align-items: center;
}
.fx-justify-a {
  justify-content: space-around;
}
.fx-justify-b {
  justify-content: space-between;
}
.fx-grow {
  flex-grow: 90%;
}
/* HEAD STYLES */
.heading-style {
  background-color: #d93175;
  color: white;
  border-radius: 2px;
  font-size: 18px;
}
/* STYLES ARTICLES */
.product {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.product-price {
  font-weight: 600;
}
.product-tittle {
  width: 100%;
  color: grey;
  font-size: 14px;
}
/* STYLES SEARCH BAR */
.search-div {
  background-color: #f5f5f5;
  border-radius: 5px;
  border-color: #383331;
}
.div-search-inputs {
  display: flex;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  padding: 3px;
  margin-right: 6px;
}
.search-input {
  background-color: white;
  border: none;
  width: 100%;
}
.search-icon {
  border: none;
  background-color: white;
  margin-left: 2px;
}
.search-button {
  background-color: rgba(56, 51, 49, 1);
  color: white;
}
.p-search {
  display: none;
  color: rgba(50, 50, 50, 1);
}
/* STYLES CATEGORIAS */
.category {
  background-color: white;
  text-align: center;
  margin-bottom: 2px;
  background-size: 80px 80px;
  background-position: center;
  border-radius: 50%;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
/* #some_div_or_body { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
.caterogy-text {
  font-size: 14px;
  color: black;
  text-align: center;
}
.b-color {
  border: 2px solid #e0ccd2c6;
}
/* STYLES BANNERS */
.padding-banner-1 {
  padding-left: 8px;
  padding-right: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.padding-banner-2 {
  padding-left: 0px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}
/* STYLES OFFER SECTION */
.heading-offers {
  font-size: 17px;
  font-weight: 600;
}
.offers-tittle {
  color: grey;
  font-size: 14px;
}
.price-offers {
  font-weight: 700;
}
.div-offers {
  border-top: 2px solid rgba(234, 234, 234, 0.703);
  border-bottom: 2px solid rgba(234, 234, 234, 0.703);
}
.discount {
  /* color: rgb(90, 64, 174); */
  background-color: #d93175;
  color: white;
  border-radius: 2px;
}
.heading-aboutus {
  font-size: 18px;
}
/* FOOTER STYLES */
.input-news {
  padding: 1px;
}
.button-news {
  background-color: #d93175;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 3px;
}
.style-copyright {
  background-color: rgba(56, 51, 49, 1);
  color: white;
}
/* Anchor */
a {
  text-decoration: none;
  color: black;
}
/* Slide-Banner Style */
.slideshow-container {
  width: 100%;
  position: relative;
}
.mySlides {
  display: none;
}
.img-bannerC {
  width: 100%;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.trunc-text-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.trunc-text-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.offer-container {
  max-height: 180px;
}
.offer-container .img-size {
  max-width: 161px;
  max-height: 161px;
}
.offer-container .img-size img {
  max-width: 161px;
  max-height: 161px;
}
/* MEDIA QUERY TABLETS */
@media (min-width: 480px) {
  /* Cambios en font-size */
  .heading-style {
    font-size: 24px;
  }
  .product-price {
    font-size: 19px;
  }
  .product-tittle {
    font-size: 18px;
  }
  .heading-offers {
    font-size: 19px;
  }
  .offers-tittle {
    font-size: 14px;
  }
  .price-offers {
    font-size: 19px;
  }
  /* Cambios en buscador */
  .p-search {
    display: block;
    margin: 5px;
    padding: 8px;
    font-size: 11px;
  }
  .search-div {
    width: 70%;
  }
  .search-input {
    padding: 8px;
  }
  .div-search-inputs {
    width: 80%;
    padding: 8px;
  }
  .search-button {
    padding: 0px;
    font-size: 14px;
  }
  .search-icon {
    padding: 0px;
  }
  /* Cambios en contenedor principal */
  .div-margin {
    margin-right: 30px;
    margin-left: 30px;
  }
  /* About Us */
  .about-us-text {
    width: 80%;
    margin: auto;
  }
  /* Utilidades */
  .tablet-w-33 {
    width: 33%;
  }
  .tablet-w-40 {
    width: 40%;
  }
  .tablet-w-50 {
    width: 50%;
  }
  .tablet-w-70 {
    width: 70%;
  }
  .tablet-w-100 {
    width: 100%;
  }
}
@media (min-width: 700px) {
  .offer-container {
    width: 50%;
    /* max-height: 180px; */
  }
  .offer-container .img-size {
    max-width: 112px;
    max-height: 105px;
  }
  .offer-container .img-size img {
    max-width: 112px;
    max-height: 105px;
  }
  .trunc-text-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .category-w {
    width: 25%;
  }
}
/* QUERY DESKTOP */
@media (min-width: 900px) {
  .product-dest img {
    height: 126px;
  }
  .product {
    height: 120px;
  }
  .product img {
    height: 94px;
  }
  .offer-container {
    width: 50%;
  }
  .offer-container .img-size {
    max-width: 135px;
    max-height: 105px;
  }
  /* Cambios en font-size */
  .heading-style {
    font-size: 26px;
  }
  /* Cambios en buscador */
  .search-div {
    width: 50%;
  }
  .search-button {
    width: 20%;
  }
  .search-input {
    padding: 12px;
  }
  /* Cambios en contenedor principal */
  .div-margin {
    margin-right: 80px;
    margin-left: 80px;
  }
  /* Box-Shadow producto + animaciones */
  .product {
    box-shadow: none;
  }
  .product:hover {
    transition: box-shadow 1000ms;
    box-shadow: 0px 0px 10px #3c3b3b;
  }
  .product:hover .product-tittle {
    display: block;
  }
  .category {
    box-shadow: none;
  }
  .category:hover {
    transition: box-shadow 1000ms;
    box-shadow: 0px 0px 10px #3c3b3b;
  }
  .logo-rotate {
    transition: transform 1500ms;
  }
  .logo-rotate:hover {
    transform: rotate(360deg);
  }
  .button-news:hover {
    transition: 1000ms;
    background-color: #a22a5a;
  }
  .before {
    display: none;
  }
  .product:hover .before {
    transition-duration: 1000ms;
    transition-property: block;
    display: block;
  }
  /* .product:hover .before {
    transition-duration: 1400ms;
    display: none;
  } */
  /* Utilidades */
  .desktop-w-20 {
    width: 20%;
  }
  .desktop-w-25 {
    width: 25%;
  }
  .desktop-w-30 {
    width: 30%;
  }
  .desktop-w-50 {
    width: 50%;
  }
  @media (min-width: 1200px) {
    .desktop-w-16 {
      width: 16%;
    }
    .offer-container {
      width: 25%;
    }
    .offer-container .img-size img {
      object-fit: scale-down;
    }
  }
  @media (min-width: 1200px) {
    .product-dest img {
      height: 190px;
      object-fit: scale-down;
    }
  }
}
