<footer class="bg-gris-oscuro pt-30">
    <section>
        <!-- <div class="bg-blanco">
            <div class="fx fx-wrap w-100 bg-blanco fx-align-center">
            </div>
            <div class="w-20">
                <a href="/"><img class="ml-5 w-60 tablet-w-40 desktop-w-30 logo-rotate"
                        src="/images/Logo_Argentum_Sin_Texto.png" alt="Logo Argentum"></a>
            </div>
        </div> -->
        <div class="font-s12 mt-10 p-8 fx fx-wrap fx-justify-a w-100 style-copyright">
            <div class="w-100 text-center">
                <p>Argentum 2022. Todos los Derechos Reservados. <a style="color: white;" href="#">Ver Términos y
                        Condiciones.</a></p>
            </div>
            <div class="w-100 text-center">
                <p>contacto: soporte@argentum.com</p>
            </div>
        </div>
    </section>
</footer>