<header>
  <link rel="stylesheet" href="/css/nav.css" />
  <nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
      <i class="fas fa-bars"></i>
    </span>
    <a href="/" class="logo"
      ><img src="/images/Logo_Argentum.png" width="200px" alt="logo-Argentum"
    /></a>
    <ul class="main-nav" id="js-menu">
      <li>
        <a href="/" class="nav-links"
          ><i class="icon fas fa-home"></i> Inicio</a
        >
      </li>
      <li>
        <a href="/#ofertas" class="nav-links"
          ><i class="icon far fa-grin-tongue"></i> Ofertas</a
        >
      </li>
      <li>
        <a href="/cart" class="nav-links"
        ><i class="icon fas fa-shopping-cart"></i> Mi carrito</a
        >
      </li>
      <li>
        <a href="/register" class="nav-links"
          ><i class="icon fas fa-user-plus"></i> Registrate</a
        >
      </li>
      <li>
        <a href="/login" class="nav-links"><i class="fas fa-user"></i> Login</a>
      </li>
    </ul>
  </nav>
  <script>
    let mainNav = document.getElementById("js-menu");
    let navBarToggle = document.getElementById("js-navbar-toggle");
    navBarToggle.addEventListener("click", function () {
      mainNav.classList.toggle("active");
    });
  </script>
</header>
