<header>
  <link rel="stylesheet" href="/css/navCategory.css" />
  <nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
      <i class="fas fa-bars"></i>
    </span>
    <a href="/" class="logo"><img src="/images/Logo_Argentum.png" width="200px" alt="logo-Argentum" /></a>
    <ul class="main-nav" id="js-menu">
      <% if (locals.isLogged && (locals.loggedUser.idUsuarioCategorias == 3)) { %>
        <a href="/" class="nav-links"><i class="icon fas fa-home fa-lg" style="margin-top: 15px; color: #d93175;"></i> Ir al Home</a>
        </li>
        <a href="/category/create" class="nav-links"><i class="fas fa-edit" style="margin-top: 15px; color: #d93175;"></i> Crear categoría</a>
        </li>
        <li>
          <a href="/products/list" class="nav-links"><i class="icon fas fa-user-plus"></i> Listado productos</a>
        </li>
        <li>
          <a href="/user/list" class="nav-links"><i class="icon fas fa-user-plus"></i> Listado usuarios</a>
        </li>
          <div class="profileLogout">
            <li>
            <a href="/user/<%= locals.loggedUser.id %>" class="profile">Mi perfil</a>
            </li>
            <li>
            <a href="/logout" class="logout">Cerrar sesión</a>
            </li>
          </div>
          <div class="dropdown">
            <button class="dropbtn">
              <img src="/images/users/<%= locals.loggedUser.imagen %> " alt="<% locals.loggedUser.apellido %>"
              style="padding:3px;">
              <p class="nav-links">
                <%= locals.loggedUser.nombre %>
              </p>
            </button>

              <div class="dropdown-content">
                <a href="/user/<%= locals.loggedUser.id %>">Mi perfil</a>
                <a href="/logout" class="logout">Cerrar sesión</a>
              </div>
            </ul>
            <% } %>
  </nav>
  <script>
    let mainNav = document.getElementById("js-menu");
    let navBarToggle = document.getElementById("js-navbar-toggle");
    navBarToggle.addEventListener("click", function () {
      mainNav.classList.toggle("active");
    });
  </script>
</header>