  <header>
    <nav class="fx-dir-col text-center">
          <div class="promociones ds-flex fx-wrap al-cont-i js-cont-a c-bar-up height-bar-up text-deco text-center ">
            <div class="promociones">
              <a a href="#" class="c-font-bars ft-type ft-bold text-deco">Dejanos tu e-mail y enterate de todas las promociones vigentes!
              </a>
            </div>
            <div class="suscribe mr-50">
              <form action="/">
                <a href="#"><input type="submit" name="suscribirse" value="Suscribirse" class="c-btn-susc nonborder p-10 br-5 ft-type ft-bold "></a>
              </form>
            </div>
          </div>
            <div class="logo w-100 ds-flex fx-wrap ft-type c-bar-down height js-cont-a">
              <div class="w-5 imgs">
                <a href="/" class=""><img src="/images/Logo_Argentum.png" alt="Logo Argentum" class="img"></a>
              </div>
              <div class="burger">
                <div class="burger-menu">
                  <i class="fas fa-bars"></i>
                </div>
              </div>
                  <div class="s-50 baja-rel interlinea nav-50 w-80 ds-flex fx-wrap al-cont-i text-center js-cont-e">     
                    <div class="t-50 w-10 fx-wrap text-center">
                      <span><i class="icon fas fa-home"></i></span>
                      <a href="/" class="c-font-bars text-deco">INICIO</a>
                    </div>  
                    <div class="t-50 w-15 fx-wrap text-center">
                      <span><i class="icon far fa-grin-tongue"></i></span>
                      <a href="#ofertas" target="_blank" class="c-font-bars text-deco">OFERTAS</a>
                    </div>          
                    <div class="t-50 w-15 fx-wrap text-center">
                      <span><i class="icon fas fa-shopping-basket"></i></span>
                      <a href="#" class="c-font-bars text-deco">COMO COMPRAR</a>
                    </div>                      
                    <div class="t-50 w-15 fx-wrap text-center">
                      <span><i class="icon fas fa-shopping-cart"></i></span>
                      <a href="/cart" target="_blank" class="c-font-bars text-deco">MI CARRITO</a>
                    </div>                      
                    <div class="t-50 w-15 fx-wrap text-center">
                      <span><i class="icon fas fa-user-plus"></i></span>
                      <a href="/register" target="_blank" class="c-font-bars text-deco">REGISTRATE</a>
                    </div>
                    <div class="mi-cuenta t-50 w-10 text-center">
                        <span><i class="icon icon-m fas fa-user-circle"></i></span>
                        <a href="/login" target="_blank" class="text-deco c-font-account">Mi Cuenta</a>
                    </div>
                  </div>
            </div>
        </form>
    </nav>
  </header>