<header>
  <link rel="stylesheet" href="/css/nav.css" />
  <nav class="navbar" style="height: 70px;">
    <a href="/" class="logo"><img src="/images/Logo_Argentum.png" width="150px" alt="logo-Argentum" /></a>
  </nav>
</header>