<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/compras.css">
    <title>Carrito de compras</title>
</head>
<body>
  <header>
  </header>
  <main>
    <nav>
      <ul>
        <li><a href="#" class="menu-det-prod">1. Detalle de producto</a></li>
        <li><a href="#">2. Pago</a></li>
        <li><a href="#">3. Detalle de envio</a></li>
      </ul>
    </nav>
    <h2>Detalle de compra</h2>
    <div>
      <div class="borde">
        <table class="tabla">
          <tr class="cabecera">
            <td class="items">Producto</td>
            <td class="items">Precio por unidad</td>
            <td class="items">Unidades</td>
            <td class="items">Total</td>
          </tr>
          <tr>
            <td class="eleccion"><a href=""><img src="/images/cafetera.jpg" alt="algo" class="producto"></a></td>
            <td class="eleccion">$ 10000.00</td>
            <td class="eleccion contenedor-cant"><select name="cantidad" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="0">0</option>
              </select></td>
            <td class="eleccion-precio">$ 10000.00</td>
            <td><a href="#" class="borrar">Borrar</a></td>
          </tr>
          <tr>
            <td class="eleccion"><a href=""><img src="/images/monitor.jpeg" alt="algo" class="producto"></a></td>
            <td class="eleccion">$ 5000.00</td>
            <td class="eleccion contenedor-cant"><select name="cantidad" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="0">0</option>
              </select></td>
            <td class="eleccion-precio">$ 20000.00</td>
            <td><a href="#" class="borrar">Borrar</a></td>
          </tr>
          <div>
            <a href=""><button class="btn-siguiente">Siguiente</button></a>
            <a href=""><button class="btn-cancela">Cancelar</button></a>
          </div>
      </div>
    </div>
  </main>
  <footer>
  </footer>
  </body>
</html>