<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/nav.css" />
        <link rel="stylesheet" href="/css/detalle-pagos.css">
        <title>Detalle de pago</title>
</head>

<body>
    <header>
        <%- include("./partials/header.ejs") %>
    </header>
    <main>
        <!-- INICIA BARRA CARRITO -->
        <div class="main">
            <div class="ubica-barra">
                <div class="navegador">
                    <div class=""><a href="/cart" class="mis-compras">Mis Compras</a></div>
                    <div class=""><a href="/envio" class="envios">Envíos</a></div>
                    <div class=""><a href="/pago" class="pagos">Pagos</a></div>
                </div>
            </div>
            <!-- FINALIZA BARRA CARRITO -->
            <h3 class="product-carrito mb-20 pt-20 ml-20">Detalle de pagos:</h3>

            <div class="container">

                <form class="mobile ml-20 ">
                    <div>
                        <div class="form-tarjeta bk-tarjeta">
                            <p class="ml-20 pt-10 mb-10">Tarjeta de crédito:</p>
                            <div class="entre-linea fx-wrap">
                                <div class="ds-flex js-cont-a">
                                    <input type="nombre" name="nombre"
                                        class="titular media-mobile espacio-mobile p-lateral border-radius height-25 titular-tarj sinborde mb-10"
                                        placeholder="Nombre">
                                    <input type="Apellido" name="apellido"
                                        class="titular titular-tarj media-mobile p-lateral  border-radius height-25 sinborde mb-10"
                                        placeholder="Apellido">
                                </div>
                            </div>

                            <div class="entre-linea ds-flex fx-wrap js-cont-a">
                                <input type="number" name="number1"
                                    class="text-align number-credit media-mobile espacio-mobile border-radius height-25 sinborde mb-10"
                                    placeholder="0000" maxlength="4"
                                    oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />

                                <input type="number" name="number2"
                                    class="text-align number-credit media-mobile espacio-mobile border-radius height-25 sinborde"
                                    placeholder="0000" maxlength="4"
                                    oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />

                                <input type="number" name="number3"
                                    class="text-align number-credit media-mobile espacio-mobile border-radius height-25 sinborde"
                                    placeholder="0000" maxlength="4"
                                    oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />

                                <input type="number" name="number4"
                                    class="text-align number-credit media-mobile espacio-mobile border-radius height-25 sinborde"
                                    placeholder="0000" maxlength="4"
                                    oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                            </div>
                            
                                <div class="entre-linea ds-flex js-cont-a mt-15">
                                    
                                    <div class="ds-block">
                                    <input type="number" name="date-venc" id="mesvence" class="text-align date-venc media-mobile border-radius mb-20 height-25 sinborde" placeholder="MES">
                                <input type="number" name="date-venc" id="aniovence" class="text-align date-venc media-mobile border-radius mb-20 height-25 sinborde" placeholder="AÑO">
                                    </div>
                                    <div class="ds-block">
                                    <input type="number" name="cod-seguridad"
                                        class="number-credit border-radius height-25 sinborde text-align mb-20" placeholder="123" maxlength="3"
                                        oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                                     </div>   
                                </div>
                        </div>
                    </div>


<div class="btn-pago ds-flex mt-15 text-center w-80 js-cont-b">
                    
                        <label for="paypal" class="boton-paypal ds-flex">
                            <input type="radio" name="paypal" id="paypal" value="paypal" class="img-paypal">
                            <img src="/images/paypal.png" alt="paypal" width="50%" class="img-paypal ">
                        </label>
                 
                        <label for="mercadopago" class="boton-paypal ds-flex">
                            <input type="radio" name="mercadopago" id="mercadopago" value="mercadopago" class="img-paypal">
                            <img src="/images/cropped.png" alt="mercadopago" width="60%" class="img-paypal">
                        </label>
                        
                    
</div>


                </form>
                <div class="desktop fx-wrap fondo-carro">
                    <!--este llevar a la derecha-->
                    <div class="fx-dir-col">
                        <table class="border-collapse pb-10 product-selec">
                            <tr class="bk-title ft-color-title ft-weight ft-size-title text-align ft-mobile">
                                <!-- INICIO TITULOS -->
                                <td class="imagen-column align-self">Imagen</td>
                                <td class="producto">Producto</td>
                                <td class="precio ma-auto ">Precio</td>
                            </tr><!-- finaliza titulos -->
                            <article>
                                <!-- Inicio articulo -->
                                <tr class="bk-tabla line-bottom">
                                    <td class="text-align">
                                        <img class="height-width-img" src="/images/products/aire.jpg" alt="" />
                                    </td>
                                    <td>
                                        <p class="ft-size-text text-left pb-10 ft-weight articulo">
                                            Aire acondicionado Federer
                                        </p>
                                    </td>
                                    <td>
                                        <p class="ft-size-text ma-auto precio fx-wrap">$100218
                                        </p>
                                    </td>
                                </tr>
                            </article><!-- Fin articulo -->
                            <!-- Inicio articulo -->
                            <tr class="bk-tabla line-bottom">
                                <td class="text-align">
                                    <img class="height-width-img" src="/images/products/test-product-note.jpg" alt="notebook" />
                                </td>
                                <td>
                                    <p class="ft-size-text text-left pb-10 ft-weight articulo">
                                        Notebook HP
                                    </p>
                                </td>
                                <td>
                                    <p class="ft-size-text ma-auto precio fx-wrap">$10218
                                    </p>
                                </td>
                            </tr>
                            </article><!-- Fin articulo -->
                            <!-- Inicio articulo -->
                            <tr class="bk-tabla line-bottom">
                                <td class="text-align">
                                    <img class="height-width-img" src="/images/products/5dc494aa5972bebeaba40b61993a.jpg" alt="MiniPimmer" />
                                </td>
                                <td>
                                    <p class="ft-size-text text-left pb-10 ft-weight articulo">
                                        Mini Pimmer Phillips
                                    </p>
                                </td>
                                <td>
                                    <p class="ft-size-text ma-auto precio fx-wrap">$17280
                                    </p>
                                </td>
                            </tr>
                            </article><!-- Fin articulo -->
                        </table>
                        <!-- Inicio resumen -->
                        <div class="bk-resume">
                            <table class="resumen line-height ft-size-text ma-auto">
                                <h3 class="title text-align pl-10 pb-10 pt-10">RESUMEN:</h3>
                                <div class="title ft-weight text-align pb-10">
                                    <label for="descuento">Ingrese código de descuento:</label>
                                </div>
                                <div class="cod-desc text-align pb-10">
                                    <input type="text" class="desc" name="descuento" id="descuento" />
                                </div>
                                <tr>
                                    <td class="">SUBTOTAL</td>
                                    <td class="pr-10 text-right">$127716
                                    </td>
                                </tr>
                                <tr>
                                    <td class="line-total">ENVIO</td>
                                    <td class="pr-10 text-right line-total">Gratis</td>
                                </tr>
                                <tr>
                                    <td class="ft-weight">TOTAL</td>
                                    <td class="pr-10 ft-weight text text-right">
                                        154536
                                    </td>
                                </tr>
                            </table>
                            <div class="botones text-align  w-100 mb-20">
                                <a href="#"><button class="btn-acepta">Aceptar</button></a>
                                <a href="#"><button class="btn-cancela mb-20">Cancelar</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include("./partials/footer") %>
    </footer>
</body>

</html>