<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Argentum</title>
    <link rel="shortcut icon" href="./images/Argentum_ico.ico" type="image/x-icon">
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/footer.css">  
    <link rel="stylesheet" href="/css/styles-index.css" />
    <link rel="stylesheet" href="/css/styles-index-tablets.css" />
    <link rel="stylesheet" href="/css/styles-index-desktop.css" />
  </head>
  <body class="bg-gris-oscuro">
    <!-- Inicio Header importado -->
    <header>
      <div class="fx fx-wrap">
        <iframe class="iframe-import" src="nav.html" frameborder="0" scrolling="no"></iframe>
      </div>
    </header>
    <main>
      <!-- Main banner -->
      <img
        class="w-100"
        src="/images/test-banner-2.jpg"
        alt="banner-principal"
      />
      <!-- Buscador -->
      <div class="w-80 p-8 search-div m-center mt-8 p-12">
        <p class="w-100 p-search">QUE ESTAS BUSCANDO?</p>
        <form class="">
          <div class="fx fx-justify-b">
            <div class="w-40 div-search-inputs">
              <input
                class="w-90 search-input"
                type="text"
                name="search"
                placeholder="Encontra tu producto"
              />
              <button class="search-icon w-10">
                <i class="fas fa-search"></i>
              </button>
            </div>
            <button type="submit" class="w-35 search-button br-5">
              Buscar
            </button>
          </div>
        </form>
      </div>
      <!-- Comienzo de section // Productos destacados -->
      <div class="div-margin">
        <section class="fx fx-wrap w-100">
          <div class="bg-blanco p-8 m-10 fx fx-wrap">
            <h2 class="w-100 m-10 text-center heading-style">
              Productos destacados
            </h2>
            <div class="w-50 p-8 tablet-w-33 desktop-w-20">
              <article class="product b-1">
                <img
                  class="w-100"
                  src="/images/test-product-note.jpg"
                  alt="Notebook Lenovo"
                />
                <div class="fx fx-wrap bg-blanco bt-2">
                  <p class="ms-5 mt-5 product-tittle text-center">
                    Notebook Lenovo de 14" HD
                  </p>
                  <p class="ms-5 mt-5 mb-5 product-price text-center w-100">$ 70.000</p>
                </div>
              </article>
            </div>
            <div class="w-50 p-8 tablet-w-33 desktop-w-20">
              <article class="product b-1">
                <img
                  class="w-100"
                  src="/images/ps5.jpg"
                  alt="Smart TV 32"
                />
                <div class="fx fx-wrap bg-blanco bt-2">
                  <p class="ms-5 mt-5 product-tittle text-center">
                    Playstation 5
                  </p>
                  <p class="ms-5 mt-5 mb-5 product-price text-center w-100">$ 64.000</p>
                </div>
              </article>
            </div>
            <div class="w-50 p-8 tablet-w-33 desktop-w-20">
              <article class="product b-1">
                <img
                  class="w-100"
                  src="/images/test-product-tv.jpg"
                  alt="Smart TV 43 Phillips"
                />
                <div class="fx fx-wrap bg-blanco bt-2">
                  <p class="ms-5 mt-5 product-tittle text-center">
                    Smart TV PHILIPS 43 pulgadas
                  </p>
                  <p class="ms-5 mt-5 mb-5 product-price text-center w-100">$ 78.000</p>
                </div>
              </article>
            </div>
            <div class="w-50 p-8 tablet-w-33 desktop-w-20">
              <article class="product b-1">
                  <div class="w-100">
                    <img
                      class="w-100"
                      src="/images/test-s22.jpg"
                      alt="Samsung A-52"
                    />
                  </div>
                  <div class="fx fx-wrap bg-blanco bt-2">
                    <p class="ms-5 mt-5 product-tittle text-center">
                      Celular Samsung S22
                    </p>
                    <p class="ms-5 mt-5 mb-5 product-price text-center w-100">$ 58.000</p>
                  </div>
                </article>
              </div>
            <div class="w-50 p-8 tablet-w-33 desktop-w-20">
              <article class="product b-1">
                <img
                  class="w-100"
                  src="/images/impresora-epson-multifuncion.jpg"
                  alt="Impresora Epson multifunción"
                />
                <div class="fx fx-wrap bg-blanco bt-2">
                  <p class="ms-5 mt-5 product-tittle text-center">
                    Impresora Epson multifunción
                  </p>
                  <p class="ms-5 mt-5 mb-5 product-price text-center w-100">$ 19.990</p>
                </div>
              </article>
            </div>
            <div class="w-50 p-8 tablet-w-33 desktop-w-20">
              <article class="product b-1">
                <img
                  class="w-100"
                  src="/images/notebook-lenovo-ideapad5.jpg"
                  alt="Notebook lenovo ideapad 5"
                />
                <div class="fx fx-wrap bg-blanco bt-2">
                  <p class="ms-5 mt-5 product-tittle text-center">
                    Notebook Lenovo IDEAPAD 5
                  </p>
                  <p class="ms-5 mt-5 mb-5 product-price text-center w-100">$ 114.000</p>
                </div>
              </article>
            </div>
            <div class="w-50 p-8 tablet-w-33 desktop-w-20">
              <article class="product b-1">
                <img
                  class="w-100"
                  src="/images/tv-smart-tv-70-pulgadas.jpg"
                  alt="Smart TV 70 Pulgadas Phillips"
                />
                <div class="fx fx-wrap bg-blanco bt-2">
                  <p class="ms-5 mt-5 product-tittle text-center">
                    Smart TV Phillips 70"
                  </p>
                  <p class="ms-5 mt-5 mb-5 product-price text-center w-100">$ 196.370</p>
                </div>
              </article>
            </div>
            <div class="w-50 p-8 tablet-w-33 desktop-w-20">
              <article class="product b-1">
                <img
                  class="w-100"
                  src="/images/heladera-samsung-nofrost.png"
                  alt="HELADERA NO FROST SAMSUNG"
                />
                <div class="fx fx-wrap bg-blanco bt-2">
                  <p class="ms-5 mt-5 product-tittle text-center">
                    Heladera Samsung no frost
                  </p>
                  <p class="ms-5 mt-5 mb-5 product-price text-center w-100">$ 169.999</p>
                </div>
              </article>
            </div>
            <div class="w-50 p-8 tablet-w-33 desktop-w-20">
              <article class="product b-1">
                <img
                  class="w-100"
                  src="/images/notebook-dell-jh94xwh.jpg"
                  alt="Notebook Dell JH94XWH"
                />
                <div class="fx fx-wrap bg-blanco bt-2">
                  <p class="ms-5 mt-5 product-tittle text-center">
                    Notebook Dell JH94XWH
                  </p>
                  <p class="ms-5 mt-5 mb-5 product-price text-center w-100">$ 86.999</p>
                </div>
              </article>
            </div>
            <div class="w-50 p-8 tablet-w-33 desktop-w-20">
              <article class="product b-1">
                <img
                  class="w-100"
                  src="/images/cafetera-express-de-longhi.jpg"
                  alt="CAFETERA EXPRESS DE LONGHI"
                />
                <div class="fx fx-wrap bg-blanco bt-2">
                  <p class="ms-5 mt-5 product-tittle text-center">
                    Cafetera EXPRESS DE LONGHI
                  </p>
                  <p class="ms-5 mt-5 mb-5 product-price text-center w-100">$ 118.000</p>
                </div>
              </article>
            </div>
          </div>
        </section>
        <!-- Banners -->
        <section class="fx fx-wrap p-8">
          <img
            class="w-50 padding-banner-1"
            src="/images/test-banner-small.jpg"
            alt="Banner ofertas 2"
          />
          <img
            class="w-50 padding-banner-2"
            src="/images/banner-small.jpg"
            alt="Banner ofertas 1"
          />
        </section>
        <!-- Comienzo de section // Ofertas -->
        <section class="fx fx-wrap w-100" id="ofertas">
          <div class="bg-blanco p-8 m-10 fx fx-wrap">
            <h2 class="w-100 m-10 text-center heading-style">Ofertas</h2>
            <div class="fx fx-wrap p-8 tablet-w-50 desktop-w-25">
              <article class="product b-1 fx fx-wrap">
                <div class="fx fx-wrap fx-align-center w-30">
                  <div class="w-100">
                    <img
                      class="w-100"
                      src="/images/tablet-samsung-a8.jpg"
                      alt="Tablet Samsung A8"
                    />
                  </div>
                </div>
                <div
                  class="w-70 fx fx-wrap bg-blanco bl-2 text-center mt-5"
                >
                  <p class="ms-5 mb-5 m-center w-100 heading-offers">
                    Tablet Samsung A8
                  </p>
                  <p class="ms-5 mb-5 offers-tittle">
                    Tablet de 10.5" TFT WUXGA (1920 x 1200). Procesador Octa Core
                    (CPU speed 2 GHz).
                  </p>
                  <div
                    class="fx fx-wrap fx-align-center fx-justify-a w-100 div-offers"
                  >
                    <div>
                      <p
                        class="ms-5 mb-5 mt-5 w-20 price-offers line-through w-100 before"
                      >
                        $ 61.750
                      </p>
                      <p
                        class="ms-5 mb-5 mt-5 w-30 price-offers w-100 after"
                      >
                        $ 47.500
                      </p>
                    </div>
                    <p class="ms-5 mb-5 mt-5 w-30 discount">30% OFF</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="fx fx-wrap p-8 tablet-w-50 desktop-w-25">
              <article class="product b-1 fx fx-wrap">
                <div class="fx fx-wrap fx-align-center w-30">
                  <div class="w-100">
                    <img
                      class="w-100"
                      src="/images/notebook-pcbox-celeron.jpg"
                      alt="NOTEBOOK PCBOX PCB FIRE- PCB"
                    />
                  </div>
                </div>
                <div
                  class="w-70 fx fx-wrap bg-blanco bl-2 text-center mt-5"
                >
                  <p class="ms-5 mb-5 m-center w-100 heading-offers">
                    Notebook PCBOX PCB
                  </p>
                  <p class="ms-5 mb-5 offers-tittle">
                    Notebook - Cloubook. Pantalla 14" FHD (1920x1080 Px).
                  </p>
                  <div
                    class="fx fx-wrap fx-align-center fx-justify-a w-100 div-offers"
                  >
                    <div>
                      <p
                        class="ms-5 mb-5 mt-5 w-20 price-offers line-through w-100 before"
                      >
                        $ 48.000
                      </p>
                      <p
                        class="ms-5 mb-5 mt-5 w-30 price-offers w-100 after"
                      >
                        $ 38.500
                      </p>
                    </div>
                    <p class="ms-5 mb-5 mt-5 w-30 discount">25% OFF</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="fx fx-wrap p-8 tablet-w-50 desktop-w-25">
              <article class="product b-1 fx fx-wrap">
                <div class="fx fx-align-center w-30">
                  <div class="w-100">
                    <img
                      class="w-100"
                      src="/images/lavarropas-automatico-dream.jpg"
                      alt="LAVARROPAS AUTOMATICO DREAN"
                    />
                  </div>
                </div>
                <div
                  class="w-70 fx fx-wrap bg-blanco bl-2 text-center mt-5"
                >
                  <p class="ms-5 mb-5 m-center w-100 heading-offers">
                    Lavarropas Dream Concept
                  </p>
                  <p class="ms-5 mb-5 offers-tittle">
                    Panel electronico. CDA (control digital de agitacion).
                  </p>
                  <div
                    class="fx fx-wrap fx-align-center fx-justify-a w-100 div-offers"
                  >
                    <div>
                      <p
                        class="ms-5 mb-5 mt-5 w-20 price-offers line-through w-100 before"
                      >
                        $ 45.760
                      </p>
                      <p
                        class="ms-5 mb-5 mt-5 w-30 price-offers w-100 after"
                      >
                        $ 35.200
                      </p>
                    </div>
                    <p class="ms-5 mb-5 mt-5 w-30 discount">30% OFF</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="fx fx-wrap p-8 tablet-w-50 desktop-w-25">
              <article class="product b-1 fx fx-wrap">
                <div class="fx fx-align-center w-30">
                  <div class="w-100">
                    <img
                      class="w-100"
                      src="/images/tablet-lenovo-8505fs.jpg"
                      alt="NOTEBOOK PCBOX PCB FIRE- PCB"
                    />
                  </div>
                </div>
                <div
                  class="w-70 fx fx-wrap bg-blanco bl-2 text-center mt-5"
                >
                  <p class="ms-5 mb-5 m-center w-100 heading-offers">
                    Tablet Lenovo Smart Tab
                  </p>
                  <p class="ms-5 mb-5 offers-tittle">
                    La portabilidad de una gran tablet para el entretenimiento y
                    la comodidad
                  </p>
                  <div
                    class="fx fx-wrap fx-align-center fx-justify-a w-100 div-offers"
                  >
                    <div>
                      <p
                        class="ms-5 mb-5 mt-5 w-20 price-offers line-through w-100 before"
                      >
                        $ 23.475
                      </p>
                      <p
                        class="ms-5 mb-5 mt-5 w-20 price-offers w-100 after"
                      >
                        $ 18.780
                      </p>
                    </div>
                    <p class="ms-5 mb-5 mt-5 w-30 discount">25% OFF</p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </section>
        <section>
          <div class="p-8 m-10 bg-blanco">
            <div class="discount w-90 m-center mb-5 heading-aboutus"><h4 id="about-us" class="text-center">Acerca de nosotros</h4></div>
            <p class="text-center m-10">Es una empresa Argentina, de comercio electronico, fundada en el año 2010, que cuenta actualmente con dos sucursales. Una en la ciudad de Rosario y otra en la Ciudad Autonoma de Buenos Aires.
              Nos dedicamos a la venta de productos electonicos y contamos con gran variedad de productos. Si existe, lo tenemos.</p>
          </div>
        </section>
      </div>  
    </main>
    <!-- Comienzo footer -->
    <footer class="bg-gris-oscuro">
      <section>
        <div class="bg-blanco">
          <div class="fx fx-wrap w-100 bg-blanco fx-align-center">
            <div class="w-20">
              <img class="ml-5 w-60 tablet-w-40 desktop-w-30 logo-rotate" src="/images/Logo_Argentum_Sin_Texto.png" alt="Logo Argentum">
            </div>
            <div class="fx fx-wrap w-80 fx-justify-a fx-align-center">
              <div class="w-25 mt-8">
                <p class="mb-2">Menu Principal</p>
                <p class="mb-2"><a href="/">Inicio</a></p>
                <p class="mb-2"><a href="#about-us">Nosotros</a></p>
                <p class="mb-2"><a href="/">Tienda</a></p>
                <p class="mb-2"><a href="#help">Ayuda</a></p>
              </div>
              <div class="w-25 mt-8">
                <p class="mb-2">Encuentranos</p>
                <p class="mb-2"><a href="https://www.facebook.com">Facebook</a></p>
                <p class="mb-2"><a href="https://www.instagram.com">Instagram</a></p>
                <p class="mb-2"><a href="https://www.twitter.com">Twitter</a></p>
                <p class="mb-2"><a href="https://www.linkedin.com">Linkedin</a></p>
              </div>
              <div class="w-40 mt-8 text-center mobile-hide-subs">
                <div>
                  <p class="w-100 mb-5">Recibí nuestras promociones</p>
                    <form action="">
                      <input class="mb-5 w-90 tablet-w-70 desktop-w-50 input-news" type="email" name="news" placeholder="Ingresa tu mail">
                      <button class="mb-3 button-news w-90 tablet-w-70 desktop-w-50" type="submit">Subscribirme</button>
                    </form>
                </div>
              </div>  
            </div>
              <div class="font-s12 mt-10 p-8 fx fx-wrap fx-justify-a w-100 style-copyright">
                  <div class="w-100 text-center">
                    <p>Argentum 20222. Todos los Derechos Reservados. <a style="color: white;" href="#">Ver Términos y Condiciones.</a></p>
                  </div>
                  <div class="w-100 text-center">
                    <p>contacto: soporte@argentum.com</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>
