<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head') %>
    <title>Login</title>
    <link href="/css/styles-reg-log.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Inicio Header importado -->
    <header>
      <%- include('./partials/header-logo') %>
    </header>
    <main>
      <form class="form" action="/user/login" method="POST">
        <h1 class="titulo-login">Iniciar sesión</h1>

        <div class="foto-perfil">
          <img src="/images/perfil2.jpg" alt="perfil" width="100%" />
        </div>

        <div>
          <label for="email" class=""></label>
          <input
            class="cajas"
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            required
            maxlength="50"
          />
        </div>

        <div>
          <input
            class="cajas"
            type="password"
            placeholder="Contraseña"
            required
            maxlength="30"
          />
        </div>

        <div class="remember"><input type="checkbox" /> Recordarme</div>

        <input type="submit" class="btn" value="Ingresar" />

        <div class="forget">
          <a href="">¿Olvidaste tu Contraseña?</a>
        </div>

        <div class="tengo-cuenta">
          <a href="/register" class="tengo-cuenta"
            >¿No tenés cuenta? ¡Creá una!</a
          >
        </div>
      </form>
    </main>
    <!-- Comienzo footer -->
    <footer><%- include ('./partials/footer-form') %></footer>
  </body>
</html>
