<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/error-404.css" />
    <title>Error 404</title>
</head>
<body>
    <div class="contenedor">
        <div class="imagen">
            <img src="../images/404.png" alt="error-404">
        </div>
        <div>
            <div>
                <p>Ups!!!</p>
                <p>La pagina no ha sido encontrada</p>
            </div>
        </div>
        <div class="regresar">
            <a href="/">Regresar</a>
        </div>
    </div>

</body>
</html>