<!-- Papelera. -->

<section id="section_product_03">
    <div class="box_individual border_aux">
        <h2 class="h2_title">Reseñas</h2>
    </div>
    <div class="box_comments border_aux">
        <div class="box_user">
            <div class="box_circle">
                <img src="/images/users/user12.jpg" alt="Foto usuario" class="img_product" />
            </div>
            <p class="p_user white">Juliana_90</p>
            <p class="p_product white">01/04/2022</p>
            <div class="box_star border_aux">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p class="p_product white">
                La navegación es sencilla para mi, quizás confusa para una persona mayor. El control
                es muy básico, arriba, abajo, volver, volumen, no tiene pad numeral, es para usarla
                full internet aunque podes usar cable o antena pero tenes que ir canal a canal o
                usar la guía. Sirve con flow, netflix, disney, spotify, prime video, twitch,
                youtube. Tiene un botón para acelerar con 1 click cuando va lento si abriste muchas
                aplicaciones.
            </p>
        </div>
        <div class="box_user">
            <div class="box_circle">
                <img src="/images/users/user09.jpg" alt="Foto usuario" class="img_product" />
            </div>
            <p class="p_user white">L.A. Márquez</p>
            <p class="p_product white">01/04/2022</p>

            <div class="box_star border_aux">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>

            <p class="p_product white">
                Por el precio, es bueno. Android tv funciona aceptablemente fluido. Es muy comodo
                que tenga google assistant. Al contrario de lo que muchos dicen, sí se puede
                configurar para que el equipo se encienda con la voz, hay que activar la preferencia
                en la configuración de red (wake on lan). Yo le pido que abra netflix, spotify, que
                suba y baje el volumen.
            </p>
        </div>
    </div>
</section>

<div class="box_p border_aux">
    <ul class="ul_product">
        <li class="item_product black">Devolución gratis: 30 días.</li>
        <li class="item_product black">Envíos gratis: Rosario (Santa Fé), CABA (BSAS).</li>
        <li class="item_product black">
            Recibí el producto que esperabas o te devolvemos tu dinero.
        </li>
        <li class="item_product black">Garantía de fábrica: 12 meses.</li>
        <li class="item_product black">Tarjetas: Crédito y Débito.</li>
    </ul>
</div>
