<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Favicon. -->
        <link rel="shortcut icon" href="./images/Argentum_ico.ico" type="image/x-icon" />
        <!-- Font Awsome. 
            <script src="https://kit.fontawesome.com/86685f6cba.js" crossorigin="anonymous"></script>
        -->
        <script src="https://kit.fontawesome.com/917887977d.js" crossorigin="anonymous"></script>
        <!-- Google Fonts. -->
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
            rel="stylesheet"
        />
        <!-- Normalize. -->
        <link rel="stylesheet" type="text/css" href="./css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="./css/producto.css" />
        <title>Producto</title>
    </head>

    <body id="cuerpo">
        <header id="cabecera">
            <nav id="navegacion">
                <div class="container_left">
                    <img src="./images/logo_400x200.jpg" alt="Logo" class="logo" />

                    <img src="./images/Argentum.jpg" alt="Logo" class="logo_mostrar" />
                </div>

                <div class="container_right">
                    <div class="container_top">
                        <form action="#" method="post" class="formulario">
                            <input type="search" name="buscar" placeholder="Buscar" id="buscar" />

                            <div class="container_lupa">
                                <a href="#" class="ancla_lupa">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </a>
                            </div>
                        </form>
                    </div>

                    <div class="container_bottom">
                        <ul class="desordenada">
                            <li class="item">
                                <a href="#" class="ancla">Inicio</a>
                            </li>
                            <li class="item">
                                <a href="#" class="ancla">Nosotros</a>
                            </li>
                            <li class="item">
                                <a href="#" class="ancla">Tienda</a>
                            </li>
                            <li class="item">
                                <a href="#" class="ancla">Ayuda</a>
                            </li>
                            <li class="item">
                                <a href="#" class="ancla">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                            </li>
                        </ul>

                        <div class="mostrar">
                            <ul class="desordenada_menu">
                                <li class="item">
                                    <a href="#" class="ancla">Menú</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="ancla">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main id="principal">
            <section id="seccion_01">
                <div class="box_left">
                    <img src="./images/6447519cv12d.jpg" alt="TV" class="imagen" />
                </div>
                <div class="box_right">
                    <h1 class="titulo_h1">TV TCL 50" 4K</h1>

                    <div class="block_star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <h2 class="titulo_h2">$ 365.000</h2>

                    <p class="parrafo margen">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nam illo
                        placeat consectetur neque dolores iusto quasi quo eveniet. Odit sit quisquam
                        ducimus, eveniet illum vero itaque labore, animi fugit iusto veniam aut
                        cumque nobis tempore saepe consectetur eos reprehenderit? Quia architecto
                        blanditiis labore dolores, alias consequuntur perspiciatis soluta commodi.
                    </p>

                    <form action="#" method="post" class="form">
                        <label for="cantidad" class="cantidad">Cantidad: </label>

                        <select name="cantidad" id="cantidad">
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                        </select>
                    </form>

                    <button class="boton">COMPRAR</button>
                </div>
            </section>

            <section id="seccion_02">
                <div class="box_top">
                    <h2 class="titulo_h2">Productos Destacados</h2>
                </div>

                <div class="box_bottom">
                    <article id="articulo_01">
                        <a href="#" class="ancla_destacada"
                            ><img src="./images/lavarropas.jpg" alt="Destacado" class="imagen"
                        /></a>
                    </article>
                    <article id="articulo_02">
                        <a href="#" class="ancla_destacada"
                            ><img src="./images/aspiradora.png" alt="Destacado" class="imagen"
                        /></a>
                    </article>
                    <article id="articulo_03">
                        <a href="#" class="ancla_destacada"
                            ><img src="./images/aire.jpg" alt="Destacado" class="imagen"
                        /></a>
                    </article>
                </div>

                <div id="seccion_03">
                    <div class="comment_top">
                        <div class="comment_left">
                            <div class="circle">
                                <img
                                    src="./images/olivertaylor-modified.png"
                                    alt="Perfil"
                                    class="imagen"
                                />
                            </div>
                            <div class="perfil">
                                <p class="parrafo margen">Mario, Ledesma.</p>
                                <p></p>
                                <p class="parrafo margen">25/03/2022</p>

                                <div class="estrellas">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="comment_right">
                            <p class="parrafo margen">
                                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
                                veritatis expedita rerum repellendus numquam saepe officiis commodi
                                repellat doloribus praesentium magnam aut, quos quam rem alias
                                exercitationem voluptatum labore fuga, voluptatibus magni minima.
                                Possimus neque excepturi labore maiores temporibus voluptas culpa,
                                fugiat similique, aliquid, ex odio. Voluptates amet non repudiandae
                                esse rerum placeat necessitatibus in, maiores deserunt distinctio
                                dignissimos, dicta suscipit, doloremque aut cum fugit! Velit,
                                architecto iusto. Fugiat sapiente nulla consequatur, possimus sed
                                minus! Eligendi unde doloremque omnis quod beatae, atque nobis
                                officiis! Soluta commodi nam distinctio amet blanditiis vel
                                perspiciatis, tenetur eligendi deserunt vitae harum ullam eveniet
                                dignissimos.""
                            </p>
                        </div>
                    </div>

                    <div class="comment_bottom">
                        <div class="comment_left">
                            <div class="circle">
                                <img
                                    src="./images/photo-15-modified.png"
                                    alt="Perfil"
                                    class="imagen"
                                />
                            </div>
                            <div class="perfil">
                                <p class="parrafo margen">Maria, Lecrerc.</p>
                                <p></p>
                                <p class="parrafo margen">08/12/2021</p>

                                <div class="estrellas">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="comment_right">
                            <p class="parrafo margen">
                                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
                                veritatis expedita rerum repellendus numquam saepe officiis commodi
                                repellat doloribus praesentium magnam aut, quos quam rem alias
                                exercitationem voluptatum labore fuga, voluptatibus magni minima.
                                Possimus neque excepturi labore maiores temporibus voluptas culpa,
                                fugiat similique, aliquid, ex odio. Voluptates amet non repudiandae
                                esse rerum placeat necessitatibus in, maiores deserunt distinctio
                                dignissimos, dicta suscipit, doloremque aut cum fugit! Velit,
                                architecto iusto. Fugiat sapiente nulla consequatur, possimus sed
                                minus! Eligendi unde doloremque omnis quod beatae, atque nobis
                                officiis! Soluta commodi nam distinctio amet blanditiis vel
                                perspiciatis, tenetur eligendi deserunt vitae harum ullam eveniet
                                dignissimos.""
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer id="pie">
            <div class="container_top_footer">
                <div class="container_footer">
                    <ul class="desordenada_footer">
                        <li class="item_footer">
                            <a href="#" class="ancla">Inicio</a>
                        </li>
                        <li class="item_footer">
                            <a href="#" class="ancla">Nosotros</a>
                        </li>
                        <li class="item_footer">
                            <a href="#" class="ancla">Tienda</a>
                        </li>
                        <li class="item_footer">
                            <a href="#" class="ancla">Ayuda</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container_bottom_footer">
                <div class="container_copyright">
                    <p class="parrafo blanco copyright">© Argentum</p>
                </div>
            </div>
        </footer>
    </body>
</html>

<!--  -->
