<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/error-404.css" />
        <title>Error 404</title>
</head>

<body>
    <div class="contenedor">
        <div class="imagen">
            <img src="../images/404.png" alt="error-404">
        </div>
        <div>
            <div>
                <p>Ups!!!</p>
                <p>El producto al que intenta acceder no se encuentra disponible</p>
            </div>
        </div>
        <div class="regresar">
            <a href="/">Regresar</a>
        </div>
    </div>

</body>

</html>