<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon. -->
    <link rel="shortcut icon" href="./images/Argentum_ico.ico" type="image/x-icon">
    <!-- Font Awsome. -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet"
    />
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts. -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <!-- Normalize. -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Styles. -->
    <link rel="stylesheet" href="/css/footer.css">  
    <link rel="stylesheet" href="/css/styles-index.css" />
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/styles-index-tablets.css" />
    <link rel="stylesheet" href="/css/styles-index-desktop.css" />
    <title>Argentum</title>
    
  </head>
  
  <body id="body_product" class="bg-gris-oscuro">
    
    <header>
      
      <div class="fx fx-wrap">
        <iframe class="iframe-import" src="nav.html" frameborder="0" scrolling="no"></iframe>
      </div>
      
    </header>
    
    <main id="main_product">
      
      <section id="section_product_01">
        
        <div class="box_imagen border_aux">
          <img src="./images/6447519cv12d.jpg" alt="01" class="img_product">
          <div class="album">
            <div class="circle_album"></div>
            <div class="circle_album"></div>
            <div class="circle_album"></div>
            <div class="circle_album"></div>
          </div>
        </div>
      
        <div class="box_details border_aux">
      
          <div class="box_individual border_aux">
            <h1 class="h1_product">TCL, AndroidTV 50" 4K</h1>
          </div>
      
          <div class="box_individual border_aux">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
          </div>
      
          <div class="box_individual border_aux">
            <h2 class="h2_title green">$ 76.499</h2>
          </div>
      
          <div class="box_p border_aux">
            <ul class="ul_product">
              <li class="item_product black">
                Devolución gratis: 30 días.
              </li>
              <li class="item_product black">
                Envíos gratis: Rosario (Santa Fé), CABA (BSAS).
              </li>
              <li class="item_product black">
                Recibí el producto que esperabas o te devolvemos tu dinero.
              </li>
              <li class="item_product black">
                Garantía de fábrica: 12 meses.
              </li>
            </ul>
          </div>
      
          <div class="box_individual border_aux">
            <form action="#" class="form_product">
              <input type="number" name="quantity" id="quantity" placeholder="Cantidad" min="1" max="10">
            </form>
          </div>

          <div class="box_individual border_aux">
            <button type="submit" class="basket">
              <a href="/cart" class="a_product">Agregar al Carro</a>
            </button>
          </div>
      
          <div class="box_individual border_aux">
            <button type="submit" class="buy">
              <a href="#" class="a_product">Comprar</a>
            </button>
          </div>
          
        </div>

      </section>

      <section id="section_product_02">

        <div class="box_individual border_aux">
          <h2 class="h2_title">Descripción</h2>
        </div>

        <div class="box_details border_aux">

          <p class="p_productD">Su resolución es 4K.</p>
          <p class="p_productD">Tecnología HDR para una calidad de imagen mejorada.</p>
          <p class="p_productD">Modo de sonido: Dolby Audio.</p>
          <p class="p_productD">Manejalo por comando de voz.</p>
          <p class="p_productD">Tiene función Screen Share.</p>
          <p class="p_productD">Con Netflix, YouTube, Prime Video, GloboPlay, Google Play Store, TCL App Store, Google Play Music, Google Play Movies & TV.</p>
          <p class="p_productD">Google Assistant y AI-IN incorporados.</p>
          <p class="p_productD">Sistema operativo Android Pie.</p>
          <p class="p_productD">Capacidad de almacenamiento de 16GB.</p>
          <p class="p_productD">Conectá tus dispositivos mediante sus 3 puertos HDMI y sus 2 puertos USB.</p>
          <p class="p_productD">Dimensiones: 1112mm de ancho, 655mm de alto, 79mm de profundidad.</p>

        </div>

      </section>

      <section id="section_product_03">

        <div class="box_individual border_aux">
          <h2 class="h2_title">Reseñas</h2>
        </div>

        <div class="box_comments border_aux">

          <div class="box_user">
            <div class="box_circle">
              <img src="./images/photo-15-modified.png" alt="Foto usuario" class="img_product">
            </div>
            <p class="p_user white">Juliana_90</p>
            <p class="p_product white">01/04/2022</p>

            <div class="box_star border_aux">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>

            <p class="p_product white">
              La navegación es sencilla para mi, quizás confusa para una persona mayor. El control es muy básico, arriba, abajo, volver, volumen, no tiene pad numeral, es para usarla full internet aunque podes usar cable o antena pero tenes que ir canal a canal o usar la guía. Sirve con flow, netflix, disney, spotify, prime video, twitch, youtube. Tiene un botón para acelerar con 1 click cuando va lento si abriste muchas aplicaciones.
            </p>

          </div>

          <div class="box_user">
            <div class="box_circle">
              <img src="./images/olivertaylor-modified.png" alt="Foto usuario" class="img_product">
            </div>
            <p class="p_user white">L.A. Márquez</p>
            <p class="p_product white">01/04/2022</p>

            <div class="box_star border_aux">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>

            <p class="p_product white">
              Por el precio, es bueno. Android tv funciona aceptablemente fluido. Es muy comodo que tenga google assistant. Al contrario de lo que muchos dicen, sí se puede configurar para que el equipo se encienda con la voz, hay que activar la preferencia en la configuración de red (wake on lan). Yo le pido que abra netflix, spotify, que suba y baje el volumen.
            </p>

          </div>

        </div>

      </section>

      <section id="section_others">

        <div class="box_individual border_aux">
          <h2 class="h2_title">Otros Productos</h2>
        </div>

        <div class="final">

          <i class="fas fa-angle-double-left"></i>
          
          <div class="box_others border_aux">
            <img src="./images/test-s22.jpg" alt="Celular Samsung" class="img_product border_aux">
            <p class="p_others black display_none">
              Galaxy S22 Ultra
            </p>
            <p class="p_others green display_none">
              $173.400
            </p>
          </div>
  
          <div class="box_others border_aux">
            <img src="./images/ps5.jpg" alt="PS5" class="img_product border_aux">
            <p class="p_others black display_none">
              Play Station 5
            </p>
            <p class="p_others green display_none">
              $198.599
            </p>
          </div>
  
            <div class="box_others border_aux none_01">
              <img src="./images/impresora-epson-multifuncion.jpg" alt="Celular Samsung" class="img_product border_aux">
              <p class="p_others black display_none">
                Epson xp 2101
              </p>
              <p class="p_others green display_none">
                $28.330
              </p>
            </div>
  
            <div class="box_others border_aux none_02">
              <img src="./images/heladera-samsung-nofrost.png" alt="Celular Samsung" class="img_product border_aux">
              <p class="p_others black display_none">
                Heladera Samsung no-frost
              </p>
              <p class="p_others green display_none">
                $180.350
              </p>
            </div>
          
          <i class="fas fa-angle-double-right"></i>

        </div>

      </section>
      
    </main>
    
    <footer class="bg-gris-oscuro">

      <section>

        <div class="p-8 m-10 bg-blanco">
          <div class="discount w-90 m-center"><h4 id="about-us" class="text-center heading-footer">Acerca de nosotros</h4></div>
          <p class="text-center font-s10 m-10 about-us-text">Es una empresa Argentina, de comercio electronico, fundada en el año 2010, que cuenta actualmente con dos sucursales. Una en la ciudad de Rosario y otra en la Ciudad Autonoma de Buenos Aires.
            Nos dedicamos a la venta de productos electonicos y contamos con gran variedad de productos. Si existe, lo tenemos.</p>
        </div>
        <div class="bg-blanco">
          <div class="fx fx-wrap w-100 bg-blanco">
            <div class="w-20">
              <img class="w-60 logo-rotate" src="/images/Logo_Argentum_Sin_Texto.png" alt="Logo Argentum">
            </div>
            <div class="fx fx-wrap w-80 fx-justify-a fx-align-center font-responsive ">
              <div class="w-25 mt-8 ">
                <p class="mb-2 heading-footer-nav">Menu Principal</p>
                <p class="mb-2"><a href="/">Inicio</a></p>
                <p class="mb-2"><a href="#about-us">Nosotros</a></p>
                <p class="mb-2"><a href="/">Tienda</a></p>
                <p class="mb-2"><a href="#help">Ayuda</a></p>
              </div>
              <div class="w-25 mt-8">
                <p class="mb-2 heading-footer-nav">Encuentranos</p>
                <p class="mb-2"><a href="https://www.facebook.com">Facebook</a></p>
                <p class="mb-2"><a href="https://www.instagram.com">Instagram</a></p>
                <p class="mb-2"><a href="https://www.twitter.com">Twitter</a></p>
                <p class="mb-2"><a href="https://www.linkedin.com">Linkedin</a></p>
              </div>
              <div class="w-40 mt-8 text-center">
                <div>
                  <p class="w-100 mb-5 heading-footer-nav">Recibí nuestras promociones</p>
                    <form action="">
                      <input class="mb-5 w-90 font-s8 input-news" type="email" name="news" placeholder="Ingresa tu mail">
                      <button class="mb-3 font-s8 button-news w-90" type="submit">Subscribirme</button>
                    </form>
                </div>
              </div>  
            </div>
              <div class="font-s6 mt-10 p-8 fx fx-wrap fx-justify-a w-100 style-copyright">
                  <div class="w-100 text-center">
                    <p>Argentum 20222. Todos los Derechos Reservados. <a style="color: white;" href="#">Ver Términos y Condiciones.</a></p>
                  </div>
                  <div class="w-100 text-center">
                    <p>contacto: soporte@argentum.com</p>
                  </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </footer>

  </body>

</html>
