<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('./partials/head') %>
    <title>Registrate</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css" />
    <link href="/css/styles-reg-log.css" rel="stylesheet" />
</head>

<body>
  <!-- Inicio Header importado -->
  <header>
    <%- include('./partials/header-form') %>
  </header>
  <main>
    <form class="container" action="/user/create" method="POST">
      <h1 class="form-label">
        Completá el formulario para formar parte de nuestra comunidad:
      </h1>
      <div class="row product-detail">
        <div class="col-12 col-md-6">
          <label for="nombre" class="form-label">Nombre y Apellido:</label>
          <input type="text" id="nombre" name="nombre" class="cajas" />
        </div>
        <div class="col-12 col-md-6">
          <label for="email" class="form-label">Email:</label>
          <input type="email" id="email" name="email" class="cajas" />
        </div>
        <div class="col-12 col-md-6">
          <label for="domicilio" class="form-label">Domicilio:</label>
          <input class="cajas" type="text" id="domicilio" name="domicilio" required maxlength="30" />
        </div>
        <div class="col-12 col-md-6">
          <label for="ciudad" class="form-label">Ciudad:</label>
          <select name="ciudad" class="cajas" id="ciudad">
            <option value="CABA">C.A.B.A.</option>
            <option value="GBA">G.B.A.</option>
            <option value="Rosario">Rosario</option>
          </select>
        </div>
        <div class="col-12">
            <label class="form-label">Imagen de perfil:</label>
            <input type="file" name="imagen" class="cajas">
        </div>
        <div class="col-12 col-md-6">
          <label for="password" class="form-label">Contraseña:</label>
          <input type="password" id="password" name="password" class="cajas" required maxlength="30"/>
        </div>
        <div class="col-12 col-md-6">
          <label for="rePassword" class="form-label">Confirmar Contraseña:</label>
          <input type="password" id="rePassword" name="rePassword" class="cajas" required maxlength="30"/>
        </div>
        <div class="col-12 col-md-6 termino1">
          <input type="checkbox" /> Quiero recibir vía e-mail ofertas y
          novedades
        </div>
        <div class="col-12 col-md-6 termino1">
          <input type="checkbox" /> Al registrarme acepto los<a class="termino2" href="">Terminos y Condiciones</a>
        </div>
        <input type="submit" style="margin-left: auto; margin-right: auto;" class="col-md-6 btn" value="REGISTRATE" />
      </div>
    </form>
  </main>
  <!-- Comienzo footer -->
  <footer>
    <%- include ('./partials/footer-form') %>
  </footer>
</body>

</html>
<!-- <div>
        <label name="nombreUsuario" class=""></label>
        <input class="cajas" type="text" id="nombre" name="nombre" placeholder="Nombre" required maxlength="30" />
      </div>
      <div>
        <label name="apellidoUsuario" class=""></label>
        <input class="cajas" type="text" id="apellido" name="apellido" placeholder="Apellido" required maxlength="30" />
      </div>

      <div>
        <label for="email" class=""></label>
        <input class="cajas" type="email" id="email" name="email" placeholder="E-mail" required maxlength="50" />
      </div>

      <div>
        <select name="tipo_doc" id="tipo_doc" class="cajas">
          <option value="" name="tipo_doc" checked>Seleccione tipo de documento
          <option value="libreta_civica" name="tipo_doc">LIBRETA CÍVICA
          <option value="libreta_enrolamiento" name="tipo_doc">LIBRETA DE ENROLAMIENTO
          <option value="dni" name="tipo_doc">D.N.I.
          <option value="otro" name="otro">OTROS
        </select>
      </div>

      <div>
        <label for="dni" class=""></label>
        <input class="cajas" type="number" id="DNI" name="DNI" placeholder="DNI" required maxlength="8" />
      </div>

      <div class="">
        <label for="fecha_nac" class=""></label>
        <input class="cajas" id="fecha_nac" type="date" name="fecha_nac" placeholder="Fecha de Nacimiento" />
      </div>

      <div>
        <label for="domicilio" class=""></label>
        <input class="cajas" type="number" id="domicilio" name="domicilio" placeholder="Número" required
          maxlength="30" />
      </div>

      <div>
        <label for="cod-postal" class=""></label>
        <input class="cajas" type="text" id="cod-postal" name="cod-postal" placeholder="Código Postal" />
      </div>

      <div>
        <label name="telefono" class=""></label>
        <input class="cajas" type="text" id="telefono" name="telefono" placeholder="Teléfono" required maxlength="15" />
      </div>

      <div>
        <input class="cajas" type="password" placeholder="Contraseña" required maxlength="30" />
      </div>

      <div>
        <input class="cajas" type="confirmPassword" placeholder="Confirmar Contraseña" required maxlength="30" />
      </div> 

        <div class="tengo-cuenta">
          <a href="/login" class="tengo-cuenta">Ya tengo cuenta</a>
        </div> -->