<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Detalle de producto</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="container ">
    <div class="row ">
      <div class="col-lg-12">
        <h2>Productos <b>destacados</b></h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="item carousel-item active">
              <div class="row">
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <a href=""><img src="/images/products/lavarropas.jpg" class="img-responsive img-fluid" alt=""></a>
                    </div>
                    <div class="thumb-content">
                      <h4>Lavarropas Dream</h4>
                      <p class="item-price"><strike>$100000.00</strike> <span>$109000.00</span></p>
                      <div class="star-rating">
                      </div>
                      <a href="/cart" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <a href=""><img src="/images/products/afeitadora.jpg" class="img-responsive img-fluid" alt=""></a>
                    </div>
                    <div class="thumb-content">
                      <h4>Afeitadora Phillips</h4>
                      <p class="item-price"><strike>$9000</strike> <span>$12003.99</span></p>
                      <div class="star-rating">
                      </div>
                      <a href="/cart" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <a href=""><img src="/images/products/aire.jpg" class="img-responsive img-fluid" alt=""></a>
                    </div>
                    <div class="thumb-content">
                      <h4>Aire Acondicionado</h4>
                      <p class="item-price"><strike>$89900.00</strike> <span>$64900.00</span></p>
                      <div class="star-rating">
                      </div>
                      <a href="/cart" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <a href=""><img src="/images/products/ps5.jpg" class="img-responsive img-fluid" alt=""></a>
                    </div>
                    <div class="thumb-content">
                      <h4>Play Station 5</h4>
                      <p class="item-price"><strike>$315000.00</strike> <span>$250000.00</span></p>
                      <div class="star-rating">
                      </div>
                      <a href="/cart" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item carousel-item">
              <div class="row">
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <a href=""><img src="/images/products/ps5.jpg" class="img-responsive img-fluid" alt=""></a>
                    </div>
                    <div class="thumb-content">
                      <h4>Sony Play Station</h4>
                      <p class="item-price"><strike>$28900.00</strike> <span>$26900.00</span></p>
                      <div class="star-rating">

                      </div>
                      <a href="/cart" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <a href=""><img src="/images/products/cafetera.jpg" class="img-responsive img-fluid" alt=""></a>
                    </div>
                    <div class="thumb-content">
                      <h4>Cafetera Atma</h4>
                      <p class="item-price"><strike>$10099.00</strike> <span>$8690.00</span></p>
                      <div class="star-rating">
                      </div>
                      <a href="/cart" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <a href=""><img src="/images/products/aspiradora.png" class="img-responsive img-fluid" alt=""></a>
                    </div>
                    <div class="thumb-content">
                      <h4>Aspiradora Moulinex</h4>
                      <p class="item-price"><strike>$10900.00</strike> <span>$9900.00</span></p>
                      <div class="star-rating">
                      </div>
                      <a href="/cart" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <a href=""><img src="/images/products/celular-a52.jpg" class="img-responsive img-fluid" alt=""></a>
                    </div>
                    <div class="thumb-content">
                      <h4>Samsung Galaxy A-52</h4>
                      <p class="item-price"><strike>$5599.00</strike> <span>$55869.00</span></p>
                      <div class="star-rating">
                      </div>
                      <a href="/cart" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item carousel-item">
              <div class="row">
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <a href=""><img src="/images/products/monitor.jpeg" class="img-responsive img-fluid" alt=""></a>
                    </div>
                    <div class="thumb-content">
                      <h4>Monitor LG</h4>
                      <p class="item-price"><strike>$36900.00</strike> <span>$34900.00</span></p>
                      <div class="star-rating">
                      </div>
                      <a href="/cart" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <a href=""><img src="/images/products/auriculares.jpg" class="img-responsive img-fluid" alt=""></a>
                    </div>
                    <div class="thumb-content">
                      <h4>Auriculares Xiaomi</h4>
                      <p class="item-price"><strike>$31500.00</strike> <span>$25000.00</span></p>
                      <div class="star-rating">
                      </div>
                      <a href="/cart" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                     <a href=""><img src="/images/products/impresora.jpg" class="img-responsive img-fluid" alt=""></a> 
                    </div>
                    <div class="thumb-content">
                      <h4>Impresora Hp-2008</h4>
                      <p class="item-price"><strike>$45000.00</strike> <span>$41008.00</span></p>
                      <div class="star-rating">
                      </div>
                      <a href="/cart" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <a href=""><img src="/images/products/cocinaesco.jpg" class="img-responsive img-fluid" alt=""></a>
                    </div>
                    <div class="thumb-content">
                      <h4>Cocina Langvie</h4>
                      <p class="item-price"><strike>$88000.00</strike> <span>$99000.00</span></p>
                      <div class="star-rating">
                      </div>
                      <a href="/cart" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>